<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/styles/styles.css">

    </head>
    <body>
    <div class="container">
        <div class="row ">
            <h1>About Ernesto</h1>
            <div class="col-sm-6"> 
            <p>According to Brito we(I) are full stack MEAN web developers
            ...according to Wadson we(I) already fill like Sr. Web developers
            but I am just a wannabe web destructor
            </p>
            </div>
    </body>
</html>