<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gallery</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
    <div class="container">

    <div class="row">
    <h1>Iron Man photo gallery</h1>
  <div class="col-sm-4">
    <div class="thumbnail">
       <img src="/images/55b6a28ef24fa.jpg" alt="Lights" style="width:100%">
    </div>
  </div>
   <div class="col-sm-4">
    <div class="thumbnail">
       <img src="/images/iron man games.jpg" alt="Lights" style="width:100%">
    </div>
  </div>
   <div class="col-sm-4">
    <div class="thumbnail">
       <img src="/images/iron-man-suit_1471067113.jpg" alt="Lights" style="width:100%">
    </div>
  </div>
</div>
  </div>
    </body>
</html>